<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Usuários</h1>

        <form class="p-3" [formGroup]="userForm">
            <div class="row my-4">
                <div class="form-floating col-6 mb-3 mt-3 ml-auto gx-1">
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Digite o nome">
                    <label for="name">Nome</label>
                </div>
                <div class="form-floating col-6 mb-3 mt-3 ml-auto gx-1">
                    <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Digite o sobrenome">
                    <label for="lastName">Sobrenome</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-floating col-6 mb-3 mt-3 ml-auto gx-1">
                    <input type="text" class="form-control" formControlName="age" id="age" placeholder="Digite o seu nome">
                    <label for="age">Idade</label>
                </div>
                <div class="form-floating col-6 mb-3 mt-3 ml-auto gx-1">
                    <input type="text" class="form-control" formControlName="profession" id="profession" placeholder="Digite a profissão">
                    <label for="profession">Profissão</label>
                </div>
            </div>

            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button class="btn btn-outline-danger float-end mx-2">Cancelar</button>
                    <button class="btn btn-outline-success float-end" (click)="createUser()">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>